<p>Buscar por País</p>

<hr>
<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input class="form-control" type="text" name="termino" [(ngModel)]="termino" placeholder="Buscar país...">  
        </form>
    </div>
</div>

<hr>
<div *ngIf="hayError" class="alert alert-danger"><!--ngIf, para cuando hay error muestr el mensaje-->
    No se encontro nada con {{ termino}}
</div>

<div *ngIf="paises.length > 0" class="row"><!--ngIf, para cuando no hay error muestre la tabla-->
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>
                        <img class="small-flag" [src]="pais.flags.svg" alt="Imagen"><!--Recuerde que se pone [src], para que extraiga el 
                        valor de la propieda y no que iguale a pais.flag-->
                    </td>
                    <td>{{ pais.name.common }}</td>
                    <td>{{ pais.population | number}}</td>
                    <td>
                        <a [routerLink]="['/pais', pais.cca2]">Ver País...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>