<p>Buscar por País</p>

<hr>
<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar ( $event )"></app-pais-input><!--Como aca es donde se va a emitir, se tiene que escuchar el evento onEnter-->
    </div>
</div>

<hr>
<div *ngIf="hayError" class="alert alert-danger"><!--ngIf, para cuando hay error muestr el mensaje-->
    No se encontro nada con {{ termino}}
</div>

<div *ngIf="paises.length > 0" class="row"><!--ngIf, para cuando no hay error muestre la tabla-->
    <div class="col">

        <app-pais-tabla [paises]="paises"></app-pais-tabla>
       
    </div>
</div>