<p>Buscar por País</p>

<hr>
<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input class="form-control" type="text" name="termino" [(ngModel)]="termino" placeholder="Buscar país...">  
        </form>
    </div>
</div>

<hr>
<div *ngIf="hayError" class="alert alert-danger"><!--ngIf, para cuando hay error muestr el mensaje-->
    No se encontro nada con {{ termino}}
</div>

<div *ngIf="!hayError" class="row"><!--ngIf, para cuando no hay error muestre la tabla-->
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>Nombre</td>
                    <td>12356465</td>
                    <td>
                        <a href="#">Ver País.....</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>